<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue single page</title>
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
	<!-- vue-router -->
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
	<!-- SPA: Single Page Application 

	后一页将采用URL的后缀，并将其解释为路由，这又将创建具有传记信息的页面类组件。
	vue-router : 每个路由URL对应一个组件，这意味着我们告诉路由器当用户转到特定的URL时，该使用哪个组件。这个新系统中的每个组件都是旧系统中的一个页面。-->
<style>
	a.router-link-active, li.router-link-active>a {
		background-color: gainsboro;
	}
</style>
<div id="app">
	<h1>Choppy's Restaurant</h1>
	<ul>
		<li><router-link to="/" exact>Home</router-link></li> 
		<!-- <li><a href="#/" class="router-link-active">Home</a></li>-->

		<li><router-link to="/menu">Menu</li>
		<!-- 下面这种方式，可以绑定自定义的事件 -->
		<li><router-link to="/bar" tag="li" :event="['mousedown', 'touchstart']"><a>Bar</a></li>
		<!-- <li class="router-link-active">Home</li> -->
	</ul>
	<!-- router-view 组件时 vue-router的入口 -->
	<router-view></router-view>
</div>
<script type="text/javascript">
    // 引入vue router 插件
	Vue.use(VueRouter)
	const Home = {template: '<div>Welcome to Choppy\'s</div>'}
	const Menu = {template: '<div> Tody we have cookies</div>'}
	const Bar = {template: '<div>We serve cocktails</div>'}

	const router = new VueRouter({
		// 注册路由
		routes: [
			{path: '/', component: Home},
			{path: '/menu', component: Menu},
			{path: '/bar', component: Bar}
		]
	})

	new Vue({
		router,
		el: '#app'
	})
</script>

<!-- 切换路由之前获取数据 -->


<!-- 动态创建路由 -->
<div id="app2">
	<h1>Online Restaurant</h1>
	<ul>
		<li><router-link :to="{name: 'home'}" exact>Home</router-link></li>
		<li v-for="i in 5">
		<!-- 相当于 $router = { name: 'menu', params: { id: i } } -->
			<router-link :to="{ name: 'menu', params: { id: i } }">Menu {{i}}</router-link>
		</li>
	</ul>
	<router-view class="view"></router-view>
</div>
<script type="text/javascript">
	const Home1 = { template: `
		<div>
		Welcome to Online Restaurant
		</div>
	` }
	// $route 是全局的router对象
	const Menu1 = { template: `
		<div>
		You just ordered
		<img :src="'http://lorempixel.com/200/200/food/' + $route.params.id">
		</div>
	` }
	const router1 = new VueRouter({
		routes: [
			{ path: '/', name:'home', component: Home1 },
			// :id 是URL中的id参数
			{ path: '/menu/:id', name: 'menu', component: Menu1 }
		]
	})
	new Vue({
		router: router1, 
		el: '#app2'
	})
</script>

<!-- more than one router-view 
  只能有一个 router-view 没有 name 属性，默认为 default-->
<div id="app3">
	<h1>Second-Hand Hardware</h1>
	<router-view name="list"></router-view>
	<router-view></router-view>
</div>
<script type="text/javascript">
	const List = {
		template : `
			<div>
				<h3>Shopping List</h3>
				<ul><li>Computer</li></ul>
			</div>
		`
	}
	const Parts = {
		template: `
			<div>
				<h2> Computer Parts </h2>
				<ul>
					<li><router-link to="/computer">Computer</router-link></li>
					<li>CD-ROM</li>
				</ul>
			</div>
		`
	}

	const ComputerDetail = {
		template: `
			<div>
				<h2 @click="click">Computer Detail</h2>
				<p>Pentium 120Mhz, CDs sold separately</p>
			</div>
		`,
		methods: {
			click() {
				console.log("click")
			}
		}
	}

	const router3 = new VueRouter({
		routes: [
			{path: '/', components : { default: Parts, list: List}},
			{path: '/computer', components: {default: ComputerDetail, list: List}}
		]
	})
	new Vue({
		router: router3,
		el: '#app3'
	})
</script>

<!-- router-view 嵌套 -->
<div id="app4">
	<h1>Kindoms Encyclopedia</h1>
	<router-link to="/user/Stark/">starck</router-link>
	<router-link to="/user/Lannister/">Lannister</router-link>
	<router-view></router-view>
</div>
<script type="text/javascript">
	const User = { template: `
		<div class="user">
			<h1>Kindoms Encyclopedia</h1>
			User {{$route.params.id}}
			<router-link to="gold">Gold</router-link>
			<router-link to="soldiers">Soldiers</router-link>
			<router-view></router-view>
		</div>
	`}
	const Soldiers = { template: `
		<div class="soldiers">
		<span v-for="soldier in $root[$route.params.id].soldiers">
		s
		</span>
		</div>
	`}
	const Gold = { template: `
		<div class="gold">
		<span v-for="coin in $root[$route.params.id].gold">
		g
		</span>
		</div>
	`}
	const router4 = new VueRouter({
		routes: [
			{ path: '/user/:id', component: User,
				children: [
					{
						path: 'soldiers',
						component: Soldiers
					},
					{
						path: 'gold',
						component: Gold
					}
				]
			}
		]
	})

	new Vue({
		router: router4,
		el: '#app4',
		data: {
			Stark: {
				soldiers: 100,
				gold: 50
			},
			Lannister: {
				soldiers: 50,
				gold: 100
			}
		}
	})
</script>
</body>
</html>