<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue Transitions and Animations</title>
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>
<body>
	<!-- 复选框 -->
	<div id="app2">
		<form action="">
			<fieldset>
				<legend>What printers you want to use?</legend>
				<!-- Vue中，复选框就是 <input> 元素 -->
				<label><input type="checkbox" v-model="outputPrinter" value="monochrome"/>Monochrome</label><br>
				<label><input type="checkbox" v-model="outputPrinter" value="plasma"/>Plasma Color</label><br>
				<label><input type="checkbox" v-model="outputPrinter" value="cloner"/>3D DNA Cloner</label><br>
				<!-- 可以使用 @click.prevent 来阻止默认事件，还可以添加相应的方法处理事件 -->
				<input type="submit" value="Print now" @click.prevent="printHandler" /><br>
				outputPrinter: {{outputPrinter}}
			</fieldset>
		</form>
	</div>
	<script type="text/javascript">
		// v-model相同的 <input>  复选框，将会通过数组实时更新
		new Vue({
			el: '#app2',
			data: {
				outputPrinter: []
			},
			methods: {
				printHandler() {
					let printers = this.outputPrinter
					alert('Printing with: ' + printers.length ? printers.join(',') : 'none') 
				}
			}
		})
	</script>

	<!-- 单选框 -->
	<div id="app3">
		<form action="">
			<fieldset>
				<legend>Choos your gender</legend>
				<label><input type="radio" v-model="gender" value="male">Male</label><br/>
				<label><input type="radio" v-model="gender" value="female">Famale</label><br/>
				<label><input type="radio" v-model="gender" value="alien">Alien</label><br/>
				Choosen gender: {{gender}}
			</fieldset>
		</form>
	</div>
	<script type="text/javascript">
		var vm3 = new Vue({
			el: '#app3',
			data: {
				gender: void(0)
			}
		})
	</script>
	<!-- 下拉框 -->
	<div id="app4">
		<fieldset>
			<legend>Choose your country</legend>
			<!-- 如果`option`中含有值，那么`select`的`v-model`绑定的值是`value`的值 -->
			<select v-model="choosenCountry">
				<option value="1">China</option>
				<option value="2">India</option>
				<option value="3">Canada</option>
			</select>
			Choosen country: {{choosenCountry}}
		</fieldset>
	</div>
	<script type="text/javascript">
		new Vue({
			el: '#app4',
			data: {
				choosenCountry: '1'
			}
		})
	</script>
	<!-- 分级选择 -->
	<div id="app5">
		<fieldset>
			<legend>级联选择</legend>
			<select v-model="clan">
				<option v-for="(types, clan) in clans">
				{{clan}}
				</option>
			</select>
			<select v-if="clans[clan]">
				<option v-for="(species, type) in clans[clan]">{{type}}</option>
			</select>
		</fieldset>
	</div>
	<script type="text/javascript">
		new Vue({
			el: '#app5',
			data: {
				clans: {
					mammalia: {
						'have fingers': {
							human: 'human',
							chimpanzee: 'chimpanzee'
						},
						'fingerless': {
							cat: 'cat',
							bear: 'bear'
						}
					},
					birds: {
						flying: {
							eagle: 'eagle',
							pidgeon: 'pidgeon'
						},
						'non flying': {
							chicken: 'chicken'
						}
					}
				},
				clan: void(0),
			}
		})
	</script>
</body>
</html>