<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue</title>
</head>
<body>

	<div id="app">
		We conquered {{countWorlds}} planets.
		<br/>
		Hello {{countWorlds}} worlds
	</div>
	<script type="text/javascript">
	new Vue({
		el:'#app',
		data: {
		countWorlds: 5 + 2
		}
	});
</script>

<div id="app">
	<ul>
		<li v-for="n in 4">Hello!</li>
	</ul>
</div>
<script type="text/javascript">new Vue({el:'#app'})</script>
<div id="app">
	<ul>
		<li v-for="(animal, i) in animals">The {{animal}} goes {{sounds[i]}}</li>
	</ul>
</div>
<script type="text/javascript">
	new Vue({
		el: '#app',
		data: {
			animals: ['dog', 'cat', 'bird'],
			sounds: ['woof', 'meow', 'tweet']
		}
	})
</script>

<div id="app">
<ul>
<li v-for="(sound, name) in animals">
The {{name}} goes {{sound}}
</li>
</ul>
</div>
<script type="text/javascript">
	new Vue({
		el: '#app',
		data: {
			animals: {
				dog: 'woof', cat: 'meow', bird: 'tweet'
			}
		}
	})
</script>

<div id="app">
	<ul>
		<li v-for="n in countdown">{{n}}</li>
		<li>launch missile!</li>
	</ul>
</div>
<script type="text/javascript">
	var vm = new Vue({
		el:'#app',
		data: {
			countdown: []
		}
	});
	setTimeout(function () {
		if (counter > 0) {
			// vue中，对于数组来说，使用数组函数才能监控到，像push, slice等
			vm.countdown.push(counter--)
		}
	}, 1000)
</script>

<!-- 绑定监听事件 -->
<div  id="app">
	<!-- 绑定事件：v-on:DOMevent="methodEventHandler -->
	<booton v-on:click="toast">Toast Bread</booton>
</div>	
<script type="text/javascript">
	new Vue({
		el: '#app',
		methods: {
			toast() {
				alert('toast!');
			}
		}
	})
</script>
<!-- v-on 适合于绑定事件监听对象，而v-model用来进行双向数据绑定 -->
<div id="app">
	<button v-on:click="toast">Toast Bread</button>
	<input v-model="toastedBreads"/>
	Quantity to put in the oven: {{toastedBreads}}
</div>
<script type="text/javascript">
	new Vue({
		el: '#app',
		methods: {
			toast() {
				this.toastedBreads ++;
			}
		},
		data: {
			toastedBreads: 0
		}
	})
</script>
<!-- 数组的双向绑定: v-model -->
<div id="app">
	<ul>
		<li v-for="(world, i) in worlds">
		{{world}}
		<!-- @ 是 v-on: 的缩写 -->
		<button @click="worlds.splice(i, 1)">Zap!</button>
		</li>
	</ul>
	<input v-model="newWorld">
	<button @click="worlds.push(newWorld)">Conquer</button>
</div>
<script type="text/javascript">
	new Vue({
		el: '#app',
		data: {
			worlds: ['Terran', 'L24-D', 'Ares', 'New Kroy', 'Sebek', 'Vestra'],
			newWorld: ''
		}
	});
</script>

<!-- 定义Vue过滤器 -->

<div id="app">
	{{'hello world' | capitalize}}
</div>
<script type="text/javascript">
	Vue.filter('capitalize', function(string) {
		var capitalFirst = string.charAt(0).toUpperCase()
		var noCaseTail = string.slice(1, string.length)
		return capitalFirst + noCaseTail;
	});
	new Vue({el: '#app'})
</script>
</body>
</html>